<span>
  <button
    id="zen-mode-button"
    type="button"
    class="zen-mode-button hover:text-primary-500"
    title="{{ i18n "article.zen_mode_title.enable" }}"
    data-title-i18n-disable="{{ i18n "article.zen_mode_title.enable" }}"
    data-title-i18n-enable="{{ i18n "article.zen_mode_title.disable" }}">
    <span class="zen-mode-icon inline-block align-text-bottom">{{ partial "icon.html" "expand" }}</span>
    <span class="zen-mode-label" id="zen-mode-label">{{ i18n "article.zen_mode_title.enable" }}</span>
  </button>
</span>
