html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    touch-action: none;
    font-family: 'Lora', serif;
}

#explanation {
    position: absolute;
    left: 50%;
    bottom: 32px;
    font-family: 'Lora', serif;
    transform: translateX(-50%);
    text-align: center;
}

button {
    font-family: 'Lora', serif;
}

<style>
  body {
    margin: 0;
    font-family: monospace;
    background-color: #fefbd8;
    overflow: hidden;
  }

  canvas {
    display: block;
  }
</style>
